[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://gitlab.com/maxlefou/hugo.386
[submodule "themes/hugo.386plus"]
	path = themes/hugo.386plus
	url = https://github.com/halfnibble/hugo.386
